* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: a;
}
body {
    background-color: #00FFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
header {
    background-color: #00CED1;
    color: #7FFFD4;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 10px 10px 2px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}
.umenu {
    width: 100%;
}
.left {
    padding-left: 10px;
}
.right {
    padding-right: 10px;
}
.fmenu {
    color: white;
    flex-shrink: 1;
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
}
.fmenu:hover {
    background-color: #007375;
    transition: 1s;
}
.stick {
    width: 0px;
    height: 70%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 0;
    margin: 0;
}
main {
    background-color:#00CED1;
    border-radius: 10px;
    box-shadow: 10px 10px 2px;
    color: #7FFFD4;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery:nth-child(3n-1) {
    background-color: #0fe;
}
.gallery:nth-child(3n) {
    background-color: #00ab9f;
}

.gallery {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: #b5fffa;
    border-radius: 5px;
    display: inline-flex;
    -webkit-transition: 1s ease;
   -moz-transition: 1s ease;
   -o-transition: 1s ease;
   border-color: white;
   border-width: 2px;
   border-style: solid;

}
.gallery:hover {
    background-color: #c973ff;
    transition: 1s;
}
.gallery img {
    width: 200px;
    height: 200px;
}
.inf{
    color: #007375;
    margin: 5px 5px 5px 5px;
    text-shadow: 0px 0px 10px white;
}
footer {
    background-color: #00CED1;
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
#createcont {
    color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    width: auto;
}
.forpost {
    color: #007375;
    margin-top: 50px;
    margin-bottom: 50px;
}
input {
    color: #007375;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#imgane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#ath {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#desk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#files {
    position: relative;
    right: -12%;
}
